# Dependencies
node_modules/

# Build outputs
lib/
*.tgz

# OS
.DS_Store

# Local working directory artifacts (when you run the CLI in the repo root)
.render-jpcv/
archive/
resume*.pdf
resume-*.yml
resume-*.yaml

# Temp
/tmp/

workspace/
sorkspace/*
